/* ======== BASES ======== */

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
	display: inline-block;
}

@font-face {
	font-family: "Cagliostro";
	src: url('../fonts/Cagliostro-Regular.ttf');
}

/* ======== COMMUNS ======== */

* {
    box-sizing: border-box;
}

.container{
    max-width: 1600px;
    /*max-height: 800px;*/
    margin: 0 auto;
    padding: 0 20px;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
}

.hidden-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
    line-height:0;
}

img {
    max-width: 100%;
    display: block;
}

a:link,
a:visited {
    text-decoration: none;
}

/* ======== HEADER ======== */

header #search {
	height: 100px;
	margin-bottom: 20px;
	color: #A0CBF2;
	background-color: #10255A;
}

header #search #direct-access {
	/*float: left;*/
	width: 280px;
	margin: auto;
}

header #search #direct-access p {
	display: inline-block;
}

header #search #direct-access ul {
	display: inline-block;
}

header #search #direct-access a:link, header #search #direct-access a:visited {
	color: #A0CBF2;
	text-decoration: underline;
	margin-left: 10px;
}

header #search #direct-access a:hover, header #search #direct-access a:focus {
	color: #fff;
	text-decoration: none;
}

header #search form {
	/*float: right;*/
	width: 280px;
	margin: auto;
}

header #search form input[type="text"] {
    outline: none;
    border: none;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    color: #10255A;
}

header #search form input[type="submit"] {
	float: right;
	cursor: pointer;
	height: 30px;
	border: none;
	border-radius: 5px;
}

header #search form input[type="submit"]:hover {
	background-color: #A0CBF2;
}

header #main-nav #logo {
	float: left;
}

header #main-nav li {
	display: inline-block;
}