.site-wrapper{ background-color: #F5F5F5; }
.main-header{background-color: #E0E0E0;}
.nav-wrapper{background-color: #BDBDBD;}
.nav li{ display: inline; }
.content{background-color: #9E9E9E;}
.main-footer{background-color: #424242;}
.site-footer{background-color: #757575;}
.static-post{height:900px;}
