/* ======== BASES ======== */

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Cagliostro";
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
	display: inline-block;
}

@font-face {
	font-family: "Cagliostro";
	src: url('../fonts/Cagliostro-Regular.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    src: url('../fonts/CaviarDreams.ttf');
}

/* ======== COMMUNS ======== */

* {
    box-sizing: border-box;
}

.container{
    max-width: 1600px;
    /*max-height: 800px;*/
    margin: 0 auto;
    padding: 0 20px;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
}

.hidden-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
    line-height:0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a:link,
a:visited {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

/* ======== HEADER ======== */

header #search {
	height: 100px;
	margin-bottom: 20px;
	color: #A0CBF2;
	background-color: #10255A;
}

header #search #direct-access {
	/*float: left;*/
	width: 280px;
	margin: auto;
}

header #search #direct-access p {
	display: inline-block;
}

header #search #direct-access ul {
	display: inline-block;
}

header #search #direct-access a:link, header #search #direct-access a:visited {
	color: #fff;
	margin-left: 10px;
}

header #search #direct-access a:hover, header #search #direct-access a:focus {
    color: #A0CBF2;
    text-decoration: underline;
    transition: all .5s;
}

header #search form {
	/*float: right;*/
	width: 280px;
	margin: auto;
}

header #search form input[type="text"] {
    outline: none;
    border: none;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    color: #10255A;
}

header #search form input[type="submit"] {
	float: right;
	cursor: pointer;
	height: 30px;
	border: none;
	border-radius: 5px;
}

header #search form input[type="submit"]:hover {
	background-color: #A0CBF2;
}

header #main-nav {
    margin-bottom: 15px;
}

header #main-nav .blog-logo {
	display: inline-block;
}

header #main-nav .nav-wrapper {
	display: inline-block;
}

header #main-nav .nav-wrapper ul li {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
    line-height:0;
    padding-bottom: 15px;
    margin-left: 5.5vw;
}

header #main-nav .nav-wrapper ul li a {
    width: 31px;
    height: 31px;
    display: block;
}

header #main-nav .nav-wrapper ul li.nav-bonnes-pratiques a {
	background: url(../css/images/picto-bonnes-pratiques.png) no-repeat;
}

header #main-nav .nav-wrapper ul li.nav-digital-moi a {
    background: url(../css/images/picto-digital-moi.png) no-repeat;
}

header #main-nav .nav-wrapper ul li.nav-digitech a {
    background: url(../css/images/picto-digitech.png) no-repeat;
}

header #main-nav .nav-wrapper ul li.nav-bricolage-digital a {
    background: url(../css/images/picto-diy.png) no-repeat;
}

header #main-nav li {
	display: inline-block;
}

/* ======== MAIN ======== */

main#main .static-post {
    background: url(../css/images/image-author.jpg) no-repeat;
    padding: 20px 8.44%;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    color: #fff;
    font-family: "CaviarDreams";
    margin-bottom: 20px;
    max-height: 800px;
    font-weight: bold;
}

main#main article.post {
    padding: 20px 8.44%;
}

main#main article {
    color: #fff;
    max-height: 800px;
}

main#main article header.post-header {
    margin: 20px 0;
}

main#main article header.post-header a {
    display: inline-block;
    background-color: #A0CBF2;
    color: #10255A;
    padding: 5px;
    border: 2px solid transparent;
    transition: all .5s;
}

main#main article header.post-header a:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid white;
    transition: all 0.5s;
}

main#main article h2 a {
    color: #fff;
    transition: all .5s;
}

main#main article h2 a:hover {
    text-decoration: underline;
    transition: all .5s;
}

main#main article footer p {
    margin-top: 40px;
}

main#main article footer p a {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #fff;
    border: 2px solid white;
    padding: 5px;
}

main#main article footer p a:hover {
    background-color: #A0CBF2;
    border: 2px solid transparent;
    color: #10255A;
    transition: all .5S;
}

main#main article.tag-reseaux-sociaux {
    background: url(../css/images/image-bonnes-pratiques-1.jpg) no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}























